import /vendor/etc/init/hw/init.${ro.target.product}.rc

on early-init
   
    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755
    chmod 755 /sys/kernel/debug
    chmod 755 /sys/kernel/debug/sync
    
    # Change ownership of sw_sync node
    chown graphics graphics /sys/kernel/debug/sync/sw_sync
    chmod 777 /sys/kernel/debug/sync/sw_sync
    chown graphics graphics /sys/kernel/debug/sync/info

    # Vop bandwidth for ddr dvfs
    chown system system /sys/class/devfreq/dmc/vop_bandwidth
    chmod 0660 /sys/class/devfreq/dmc/vop_bandwidth

    
on init

    symlink /etc/firmware /vendor/firmware
    symlink /lib/firmware /vendor/firmware
  
    setprop sys.init_log_level 8

    # disable cursor blink for fbcon, if no splash screen support
    write /sys/class/graphics/fbcon/cursor_blink 0
        
    setprop init.svc.console stopped
    
    write /sys/fs/cgroup/memory.use_hierarchy 1

    # disable transparent huge pages
    write /sys/kernel/mm/transparent_hugepage/enabled "never"

    # Reduce swappiness to enhance the response to interactive
    write /proc/sys/vm/swappiness 60
    #write /sys/block/zram0/comp_algorithm lz4

    # reduce schedul time to improve io performance
    write /sys/kernel/debug/sched_features NO_ENERGY_AWARE

    # Chmod/chown specific sys entry
    chown system system /sys/class/backlight/backlight/brightness
    chmod 0660 /sys/class/backlight/backlight/brightness

    chown root root /sys/class/devfreq/dmc/system_status
    chmod 0666 /sys/class/devfreq/dmc/system_status

on fs
   # /dev/block/by-name so that we can use the same fstabs everywhere.
   # symlink /dev/block/platform/ff370000.dwmmc/by-name /dev/block/by-name

    # Start HW service manager early
    start hwservicemanager
    
    mount_all /fstab.rk30board --early
    
on late-fs
    # Start services for bootanim
    start servicemanager
    start hwcomposer-2-1
    start gralloc-2-0
    start surfaceflinger
    start bootanim
        

    # Mount RW partitions which need run fsck    
    mount_all /fstab.rk30board --late
    
    # set RLIMIT_MEMLOCK to 8MB
    setrlimit 8 8388608 8388608

    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/scheduler mq-deadline
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/rotational 0    
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/bdi/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256

    #insmod /vendor/lib/modules/wlan.ko
    insmod /vendor/lib/modules/btintel.ko
    insmod /vendor/lib/modules/btbcm.ko
    insmod /vendor/lib/modules/btrtl.ko
    insmod /vendor/lib/modules/btusb.ko
    
on post-fs-data

    # Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    mkdir /data/audio/ 0770 media audio

    # Bluetooth
    #setprop ro.bt.bdaddr_path "system/etc/bt/bd_addr.txt"
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on zygote-start

    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

on boot
      
    chown system system /sys/class/thermal/thermal_zone0/policy
    chown system system /sys/class/thermal/thermal_zone1/policy
    chown system system /sys/class/thermal/thermal_zone2/policy

    # Kernel Tweaks from ktweak
    	# Limit max perf event processing time to this much CPU usage
    	write /proc/sys/kernel/perf_cpu_time_max_percent 5
	write /proc/sys/kernel/randomize_va_space 0
    	# Group tasks for less stutter but less throughput
	write /proc/sys/kernel/sched_autogroup_enabled 1
	write /proc/sys/kernel/sched_enable_thread_grouping 1
	# Execute child process before parent after fork	
	write /proc/sys/kernel/sched_child_runs_first 1
	write /proc/sys/kernel/sched_downmigrate "40 40"
	write /proc/sys/kernel/sched_upmigrate "60 60"
	write /proc/sys/kernel/sched_group_downmigrate 40
	write /proc/sys/kernel/sched_group_upmigrate 60
	# Preliminary requirement for the following values
	write /proc/sys/kernel/sched_tunable_scaling 0
	# Reduce the maximum scheduling period for lower latency
	write /proc/sys/kernel/sched_latency_ns 10000000
	# Schedule this ratio of tasks in the guarenteed sched period
	write /proc/sys/kernel/sched_min_granularity_ns 1000000
	# Reduce the frequency of task migrations
	write /proc/sys/kernel/sched_migration_cost_ns 1000000
	write /proc/sys/kernel/sched_min_task_util_for_boost 40
	write /proc/sys/kernel/sched_min_task_util_for_colocation 20
	# Improve real time latencies by reducing the scheduler migration time	
	write /proc/sys/kernel/sched_nr_migrate 64
	write /proc/sys/kernel/sched_rt_runtime_us 1000000
	# Disable scheduler statistics to reduce overhead
	write /proc/sys/kernel/sched_schedstats 0
	# Require preeptive tasks to surpass half of a sched period in vmruntime	
	write /proc/sys/kernel/sched_wakeup_granularity_ns 5000000
	write /proc/sys/kernel/timer_migration 0

	# Net
	# Enable Explicit Congestion Control
	write /proc/sys/net/ipv4/tcp_ecn 1
	# Enable fast socket open for receiver and sender
	write /proc/sys/net/ipv4/tcp_fastopen 3
	write /proc/sys/net/ipv4/tcp_slow_start_after_idle 0
	# Disable SYN cookies
	write /proc/sys/net/ipv4/tcp_syncookies 0
	write /proc/sys/net/ipv4/tcp_timestamps 0

    	# VM
    	write proc/sys/vm/laptop_mode 5
    	write proc/sys/vm/compact_unevictable_allowed 0  
    	# Start non-blocking writeback later  	
    	write proc/sys/vm/dirty_background_ratio 10
    	# Start blocking writeback later
    	write proc/sys/vm/dirty_ratio 30
    	# Require dirty memory to stay in memory for longer
    	write proc/sys/vm/dirty_expire_centisecs 3000
    	# Run the dirty memory flusher threads less often
    	write proc/sys/vm/dirty_writeback_centisecs 500
   	write proc/sys/vm/extfrag_threshold 750
    	write proc/sys/vm/oom_dump_tasks 0
    	# Disable read-ahead for swap devices
    	write proc/sys/vm/page-cluster 0
    	# Update /proc/stat less often to reduce jitter
    	#write proc/sys/vm/stat_interval 120
    	# Allow more inodes and dentries to be cached
    	write proc/sys/vm/vfs_cache_pressure 200
    	write proc/sys/vm/watermark_scale_factor 100

	write /sys/kernel/debug/sched_features NO_GENTLE_FAIR_SLEEPER
	# Consider scheduling tasks that are eager to run
	write /sys/kernel/debug/sched_features NEXT_BUDDY
	write /sys/kernel/debug/sched_features NO_STRICT_SKIP_BUDDY
	write /sys/kernel/debug/sched_features NO_NONTASK_CAPACITY
	# Schedule tasks on their origin CPU if possible
	write /sys/kernel/debug/sched_features TTWU_QUEUE

	# Disable unnecessary printk logging
	write /proc/sys/kernel/printk_devkmsg off

    # add a cpuset for the camera daemon
    # we want all the little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # end boot time fs tune
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/iostats 0
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/nr_requests 2048
    write /sys/block/mmcblk0/queue/add_random 0 
  
    trigger sys-boot-completed-set
    
on sys-boot-completed-set
   # Enable ZRAM on boot_complete
    swapon_all /fstab.rk30board

on configure-cpuset
    # update cpusets feature nodes for rk3326 tablet 
    write /dev/cpuset/foreground/cpus 0-3

    # restricted is for system tasks that are being throttled
    # due to screen off.    
    write /dev/cpuset/restricted/cpus 0-1
    
    # top-app gets all cpus
    write /dev/cpuset/top-app/cpus 0-3

    #background contains a small subset (generally one little core)
    write /dev/cpuset/background/cpus 0

    # add system-background cpuset, a new cpuset for system services
    # that should not run on larger cores
    # system-background is for system tasks that should only run on
    # little cores, not on bigs to be used only by init
    write /dev/cpuset/system-background/cpus 0-2

on property:sys.boot_completed=1
   trigger configure-cpuset
    chown root system /sys/class/devfreq/ff400000.gpu/governor
    chmod 0664 /sys/class/devfreq/ff400000.gpu/governor
    chown root system /sys/class/devfreq/ff400000.gpu/min_freq
    chmod 0664 /sys/class/devfreq/ff400000.gpu/min_freq
    chown root system /sys/class/devfreq/ff400000.gpu/max_freq
    chmod 0664 /sys/class/devfreq/ff400000.gpu/max_freq

on property:sys.boot_completed=1
    # Set default CPU frequency governor
    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 2000

service usb_modeswitch /vendor/bin/usb_modeswitch -KW -v 0bda -p 1a2b
    class main
    oneshot

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
     -g@android:wpa_wlan0
     interface android.hardware.wifi.supplicant@1.0::ISupplicant default
     interface android.hardware.wifi.supplicant@1.1::ISupplicant default
     socket wpa_wlan0 dgram 660 wifi wifi
     class main
     disabled
     oneshot

service logcat /system/bin/logcat -f /dev/ttyprintk
	user system
	group root


